/* Keywords Page Styles */

.page-keywords {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


/* Tabs */
.keywords-tabs {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #ECEDF0;
  padding-bottom: 0;
}

.keywords-tab {
  padding: 6px 4px;
  font-size: 13px;
  font-weight: 500;
  color: #777;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  bottom: -2px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.keywords-tab--active {
  color: #111;
  border-bottom-color: #333;
}
.keywords-count{
  background: #F5F5F5;
  padding: 3px 6px;
  border-radius: 6px;
}



/* Empty State */
.keywords-empty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 40px 24px;
}

.keywords-empty__title {
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0;
}

.keywords-empty__subtitle {
  font-size: 14px;
  color: #6b7280;
  margin: -16px 0 0 0;
}

.keywords-empty__actions {
  display: flex;
  gap: 12px;
}


.keywords-upload-input {
  display: none;
}

/* Grid Container */
.keywords-grid-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

/* Actions Bar */
.keywords-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.keywords-search {
  flex: 1;
  max-width: 250px;
  padding: 0 30px 0 10px;
  height: 30px;
  font-size: 13px;
  color: #555;
  border: 1px solid #D9DBE4;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s;
  position: relative;
}
.keywords-search::placeholder {
  color: #999;
}
.keywords-search-wrap{
  position: relative;
}
.keywords-search-wrap::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 12px;
  height: 12px;
  background-image: url("../assets/images/input_sear.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}


/* Table */
.keywords-table-wrapper {
  flex: 1;
  overflow: hidden;
  border-bottom: 1px solid #ECEDF0;
  min-height: 0;
}
