.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-wrapper.checkbox-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkbox-image {
  width: 12px;
  height: 12px;
  display: block;
}
