/* Table Styles */

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table-header {
  position: sticky;
  top: 0;
  background: #f9fafb;
  z-index: 10;
}

.table-head {
  padding: 0px 12px;
  height: 34px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  color: #282828;
  border-top: 1px solid #ECEDF0;
  border-bottom: 1px solid #ECEDF0;
  border-right: 1px solid #ECEDF0;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
}

.table-head.cursor-pointer {
  cursor: pointer;
  transition: background 0.15s;
}

.table-head-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.table-head-content.table-head-center {
  justify-content: center;
}

.sort-indicator {
  color: #282828;
  font-weight: bold;
}

.table-body {
  background: white;
}

.table-row {
  border-bottom: 1px solid #e5e7eb;
  transition: background 0.15s;
}
/*
.table-row:hover {
  background: #f9fafb;
}
*/
.table-cell {
  height: 34px;
  padding: 0px 12px;
  color: #555;
  vertical-align: middle;
  box-sizing: border-box;
}

.table-cell.table-cell-center {
  text-align: center;
}

/* Table Input */
.table-input {
  width: 100%;
  padding: 6px 10px;
  font-size: 13px;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.2s;
  color: #555;
}

.table-input:focus {
  border-color: #555;
}

/* Table Actions */
.table-actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn-table {
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  border-radius: 3px;
  border: 1px solid #CFD3DA;
  color: #555;
  font-size: 13px;
  background: #fff;
}





/* Table Date */
.table-date {
  font-size: 13px;
  color: #6b7280;
}
